.movies {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.movies-content {
  display: flex;
  height: 100%;
  flex: 3;
}

.movies-leftpanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}