.Layout {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}

.LayoutLeftPanel {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #343434;
}

.LayoutContent {
  display: flex;
  flex: 2;
  height: 100vh;
  overflow: auto;
}

.LayoutLeftPanelSearch {
  padding: 20px;
  border-bottom: 1px solid #343434;
  display: flex;
  flex-direction: row;
}

.LayoutLeftPanelNavbar {
  height: calc(100vh - 63px);
  overflow: auto;
}

.LayoutLeftPanelLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LayoutLeftPanelBack {
  display: none;
  margin-right: 15px;
}

.active {
  display: flex;
}

@media (max-width: 768px) {  
  .LayoutContent {
    display: none;
  }
  .LayoutLeftPanel {
    display: none;
  }
  .active {
    display: flex;
  }
}

@media (max-width: 425px) {  
  .LayoutLeftPanelBack {
    display: block;
  }
}
