.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.layout-content {
  display: flex;
  height: 100%;
  flex: 3;
}

.layout-leftpanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

.panel-list {
  max-height: 70vh;
  overflow: auto;
}