.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.layout-content {
  display: flex;
  height: 100%;
  flex: 3;
}

.layout-leftpanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

.AppTemplate-navbar {
  max-height: 100vh;
  overflow: auto;
}

.content-loading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}